// VARIABLES
$wht: #fff;
$blk: #000;

// MAIN COLOURS
$pnk: #faabde;
$grn: #458f78;
$l-grn: #82f5d1;
$crm: #ded6c7;
$gry: #333333;

// SHADES
$gry-shd: #1d1f20;
$pnk-shd: #ff56e3;

// OTHER
$bdr: #b4b4b4;
$bg: #282c34;